img {
  height: 45px;
  width: 45px;
}
nav {
  padding: 10%;
  background-color: #525252 !important;
  box-shadow: -4px -1px 6px black;
}
.navbar-brand {
  border-radius: 30%;
  color: rgb(236, 245, 156);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
